
*{font-family: 'Poppins', sans-serif;}
    
.parent-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .cn{
          text-align: center;
      }

      @media only screen and (max-device-width: 480px) {
          .parent-container{
              text-align: center;
          }
     }    
     table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 95%;
      }
      
      td, th {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 8px;
        margin: auto;
        text-align: center;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .g{
          position: absolute;
          bottom: 0px;
      }
      .in{
          position: relative;
          margin:10px;
      }
      div.spa{height: 15px;
      }
      .fon{
        font-family: 'Berkshire Swash', cursive;
        font-size: 2rem;
      }
      .tab{
          overflow-x: auto;
      }
      .sp{
        color:grey;
        font-weight: lighter;
      }


      .floating {   
        animation-name: floating; 
        animation-duration: 3s; 
        animation-iteration-count: infinite; 
        animation-timing-function: ease-in-out;
        margin-top: 5px; 
    } 
      
    @keyframes floating { 
        0% { transform: translate(0,  0px); } 
        50%  { transform: translate(0, 15px); } 
        100%   { transform: translate(0, -0px); }     
    } 
   
.sz{
  height: 70px;
  width: 70px;;
}

@media only screen and (max-device-width: 480px) {
  .poo{
    font-size: 0.5 rem;
  }
} 
 .re{
   color: red;
 }